.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabletButton +.tabletButton {
  margin-top: 1em;
}

.alignCenter {
  text-align: center;
}

.colorGrey {
  color: grey;
}

.small {
  font-size: small;
}

.spaceTopSmall {
  margin-top: 0.2em;
}
